/* Articles no longer displayed side-by-side, but paragraphs run horizontally instead of vertically. */
nav {
    flex-basis: 100%
}

.reading {
    /* flex: 0 0 100%; */
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: 0;
}

article {
    
}

body {
    display: flex;
    /* flex-direction: column; */
    flex-flow: row wrap;
    align-items: stretch;
}

footer {
    order: 4;
    flex: 100%
}

header {
    order: 0;
    flex: 100%;
}